.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 4rem;

    @media screen and (max-width: 678px) {
        row-gap: 2rem;
    }
}