.productCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: $medium;
    padding: $medium;
    background-color: $white;
    box-shadow: 0px 16px 24px 0px $shadow;

    .image {
        width: 100%;
        height: 373px;
        background-color: $lightgrey;

        img { 
            width: 100%;
            padding: $medium;
        }

        @media screen and (max-width: 678px) {
            height: 100%;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 1.2rem;
            text-transform: uppercase;
            margin: $medium 0 $small 0 ; 
        }

        p {
            color: $grey;
            margin: $small 0 $medium 0;
        }
    }
}